.container{
  /* width: 100%; */
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
align-items: center;
color: rgb(51, 0, 86);
}

.container button {
  border-radius: 100%;
  border: 1px solid transparent;
  /* width: 60px; */
  min-width: 50px;
  height: 50px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-tap-highlight-color: transparent;
  /* background-color: #b0ffe676; */
}

@media screen and (max-width:430px) {
  .container {
    /* 背景色を変更 */
    /* background-color: rgb(202, 219, 223); */
    /* パディングを減らす */
    padding: 10px;
    /* テキストを中央寄せにする */
    text-align: center;
  }
  .container button {
    /* ボタンの色を変更 */
    /* background-color: rgb(219, 202, 223); */
    /* color: white; */
    /* ボタンのサイズを小さくする */
    min-width: 40px;
    height: 40px;
    font-size: 0.8em;
    /* ボーダーを表示する */
    /* border-color: rgb(219, 202, 223); */
  }
}